.stelliance-tooltip-items {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.stelliance-tooltip-item {
  display: flex;
  margin: auto;
  padding: 1.25rem;
  flex-direction: column;
}

.stelliance-tooltip-item .name-container {
  display: flex;
  margin: auto;
}

.stelliance-tooltip-item .name-container span {
  color: black;
  font-size: 0.9rem;
}

.stelliance-tooltip-item .image-container img {
  display: flex;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.stelliance-tooltip-item:hover .image-container {
  opacity: 0.6;
}

.stelliance-tooltip-item:hover .name-container span {
  color: gray;
}

@media screen and (max-width: 480px) {
  .stelliance-tooltip-items {
    grid-template-columns: auto auto;
  }

  .stelliance-tooltip-item {
    padding: 0.625rem;
  }
}
