/* You can add global styles to this file, and also import other style files */

@import url('https://css.gg/menu-grid-o.css');

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper .icon .icon-grid {
  position: relative;
  z-index: 2;
  height: 3.75rem;
  width: 3.75rem;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s;
}

.wrapper .icon .icon-grid i {
  font-size: 1.563rem;
  line-height: 3.75rem;
}

.wrapper .icon .tooltip {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 0.625rem 1.125rem;
  color: white;
  opacity: 0;
  pointer-events: none;
  border-radius: 0.4rem;
  transition: opacity 0.2s;
}

.wrapper .icon .tooltip.openned {
  opacity: 1;
  transition: opacity 0.2s;
}

.wrapper .icon .tooltip.openned .stelliance-tooltip-item {
  pointer-events: visible;
}

.wrapper .icon:hover .icon-grid {
  background: rgba(200, 200, 200, 0.1);
}

.wrapper .icon.openned .icon-grid {
  background: rgba(200, 200, 200, 0.1);
}

.wrapper .icon:hover .icon-grid,
.wrapp .icon:hover .tooltip {
  text-shadow: 0 -0.063rem 0 rgba(0, 0, 0, 0.4);
}

.wrapper .icon:hover .icon-grid {
  color: #0008;
}
