<div class="wrapper">
  <div
    class="icon grid"
    id="stellianceWidgetGridIcon"
    (click)="showWidgets = !showWidgets"
    [ngClass]="{ openned: showWidgets }"
  >
    <div class="tooltip stelliance-tooltip" [ngClass]="{ openned: showWidgets }">
      <app-stelliance-connect-widget-apps
        [apps]="widgetAppsFavorites"
        [appLogoWidth]="appLogoWidth"
        [appLogoHeight]="appLogoHeight"
        (widgetAppClicked)="navigateTo($event)"
      ></app-stelliance-connect-widget-apps>
      <hr
        *ngIf="widgetAppsFavorites.length > 0 && widgetAppsNotFavorites.length > 0"
        class="stelliance-tooltip-separator"
      />
      <app-stelliance-connect-widget-apps
        [apps]="widgetAppsNotFavorites"
        [appLogoWidth]="appLogoWidth"
        [appLogoHeight]="appLogoHeight"
        (widgetAppClicked)="navigateTo($event)"
      ></app-stelliance-connect-widget-apps>
    </div>
    <span class="icon-grid"><i class="gg-menu-grid-o stelliance-widget-icon"></i></span>
  </div>
</div>
