/* You can add global styles to this file, and also import other style files */
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper .icon .icon-grid {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s;
}

.wrapper .icon .icon-grid i {
  font-size: 25px;
  line-height: 60px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px 18px;
  color: white;
  opacity: 0;
  pointer-events: none;
  border-radius: 6px;
  transition: opacity 0.2s;
}

.wrapper .icon .tooltip.openned {
  opacity: 1;
  transition: opacity 0.2s;
}

.wrapper .icon .tooltip.openned .stelliance-tooltip-item {
  pointer-events: visible;
}

.wrapper .icon:hover .icon-grid {
  background: rgba(200, 200, 200, 0.1);
}

.wrapper .icon.openned .icon-grid {
  background: rgba(200, 200, 200, 0.1);
}

.wrapper .icon:hover .icon-grid,
.wrapp .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.wrapper .icon:hover .icon-grid {
  color: #0008;
}
